@model tarifX.Models.FoodFromPeople
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_adminView.cshtml";
}

<br />
<h2>Details</h2>
<br />

@using (Html.BeginForm("Details", "AdminGonderilenTarifler", FormMethod.Post, new { enctype = "multipart/form-data" })) {
    <div class="col-md-3">
        <button type="submit" class="btn btn-block btn-primary btn-lg">Tariflere Ekle</button>
    </div>

}



<div class="row">


    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">


        <h3> @Model.Title <small>@Model.PublishingDate</small> </h3>
        @if (!Model.Photo.IsEmpty()) {
            <img class="img-responsive" src="~/Uploads/RecipePhotoFromPeople/@Model.Photo" alt="@Model.Title" />
            <br />
        }

        @Html.Raw("Kaç Kişilik : " + Model.NumberOfPeople)
        <br />
        @Html.Raw("Hazırlanma Süresi : " + Model.PreparationTime + " Dakika")
        <br />
        @Html.Raw("Pişirme Süresi : " + Model.CookingTime + " Dakika")
        <br />
        @Html.Raw(Model.Materials)
        <br />
        @Html.Raw(Model.Content)




    </div>

</div>



