@model IEnumerable<tarifX.Models.FoodFromPeople>
@using System.Text.RegularExpressions;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_adminView.cshtml";
}
<br />
<h2>Gönderilen Yemek Tarifleri</h2>

<br />

<!-- table primary start -->
<div class="col-lg-12 mt-5">
    <div class="card">
        <div class="card-body">
            <h4 class="header-title">Tarifler</h4>
            <div class="single-table">
                <div class="table-responsive">
                    <table class="table text-center">
                        <thead class="text-uppercase bg-primary">
                            <tr class="text-white">

                                <th scope="col">Başlık</th>
                                <th scope="col">Kategori</th>
                                <th scope="col">İçerik</th>
                                <th scope="col">Kaç Kişilik</th>
                                <th scope="col">Hazırlama Süresi</th>
                                <th scope="col">Pişirme Süresi</th>
                                <th scope="col">Yazar</th>
                                <th scope="col">Yayınlanma Tarihi</th>
                                <th scope="col">Sil</th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model) {
                                <tr>
                                    <td><a href="/AdminGonderilenTarifler/Details/@item.ID">@item.Title</a></td>
                                    <td>@Html.DisplayFor(modelItem => item.Category.Name)</td>
                                    <td>
                                        @if (Regex.Replace(item.Content, "<.*?>", string.Empty).Length > 40) {
                                            <p>@Regex.Replace(item.Content, "<.*?>", string.Empty).Substring(0, 40)<b>...</b></p>} else { @Html.Raw(item.Content)}
                                    </td>

                                    <td>@item.NumberOfPeople</td>
                                    <td>@item.PreparationTime</td>
                                    <td>@item.CookingTime</td>
                                    <td>@item.PublishedBy</td>
                                    <td>@item.PublishingDate</td>
                                    <td><a href="/AdminGonderilenTarifler/Delete/@item.ID"><i class="ti-trash"></i></a></td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- table primary end -->
